security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true
        #PARA EL JWT el login y el api
        login:
            pattern: ^/api/login 
            stateless: true 
            json_login: 
                #Este path esta controlado por el firewall (seguridad) el jwt lo intercepta y si esta correcto con los datos de la bd devuelve el token
                #Es el punto de entrada donde tenemos que enviar las credenciales para que Symfony nos de el Token
                check_path: /api/login_check 
                success_handler: lexik_jwt_authentication.handler.authentication_success 
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
        api: 
            pattern: ^/api 
            stateless: true 
            jwt: ~
        main:
            lazy: true
            provider: app_user_provider

    # Note: Only the *first* matching rule is applied
    #PATHS PARA LAS RUTAS (SEGURIDAD) JWT
    access_control:
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }
        # Permite ver la interfaz de la API y los contextos. Rutas abiertas
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/api$, roles: PUBLIC_ACCESS }
        - { path: ^/api/contexts, roles: PUBLIC_ACCESS }
        # PERMITIR REGISTRO (Crear usuario)
        - { path: ^/api/users, roles: PUBLIC_ACCESS, methods: [POST] }
        #Esta siguiente linea es para hacer pruebas y poder ver los usuarios mediante url
        #- { path: ^/api/users, roles: PUBLIC_ACCESS, methods: [GET] }
        # Accesos publicos
        - { path: ^/api/services, roles: PUBLIC_ACCESS, methods: [GET] }
        - { path: ^/api/galleries, roles: PUBLIC_ACCESS, methods: [GET] }
        # Acceso restringido al resto de paginas con el token
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
